

.venv/
venv/
**/.venv/
**/venv/


__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python


.ipynb_checkpoints/
**/.ipynb_checkpoints/


*.log
**/*.log
results/*.log

data/raw/imdb_raw/
data/raw/*.db
data/raw/*.json
data/raw/*.tsv
data/raw/*.tsv.gz


results/
results/**/*.parquet
results/**/*.pkl
results/**/*.npz
results/**/*.db



.DS_Store




frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/build/
frontend/.next/
frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/logs/
frontend/*.log
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/npm-debug.log*
frontend/.vscode/*
!frontend/.vscode/extensions.json


.DS_Store
.idea/
*.swp
*.swo
*.sln
*.njsproj
.ntvs
*.suo


BACKEND/imdb_raw/
BACKEND/output/
BACKEND/data/
results/
data/raw/
*.db
*.sqlite
*.sqlite3
*.parquet
*.npz
*.pkl

BACKEND/
FRONTEND/node_modules/